#root {
  background-color: rgb(225, 101, 40);
  width: 250px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 5px;
}

body {
  background-color: rgb(229, 183, 150);
  height: 200vh;
}

#percentage {
  background-color: rgba(0, 255, 170, 0.939);
  height: 5vh;
  width: 60px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1%;
  bottom: 1%;
  box-shadow: 1px 1px 1px;
}
